.active-menu {
    border-left: 5px solid var(--ion-color-danger);
    font-size: small;
    color: #00AFF0
}

ion-icon {
    font-size: 20px;
}

ion-icon {
    color: #00AFF0
}

ion-avatar img {
    height: 60px !important;
    width: 60px !important;
}

.counts {
    background: #8cc541;
}

ion-toolbar .item {
    background-color: transparent;
}

.toolbar .label {
    color: #FFFFFF;
}

#menuProfile.item .label {
    h2,
    h5 {
        color: #FFFFFF;
    }
}

.toolbar .item h2 {
    font-size: 1.9rem;
    font-weight: 300;
    color: #FFFFFF;
}

.toolbar .item h5 {
    font-size: 1.2rem;
    font-weight: 200;
    color: #FFFFFF;
}

ion-list#menulist .item .item-inner .label {
    margin: 5px 3px 5px 0px;
}

#menulist.list .item .item-inner,
#menutoolbar.toolbar .item .item-inner {
    border-bottom: 0px;
}

ion.item-divider {
    height: 1px;
    min-height: 1px;
    background-color: #33FFFF;
}

.divider {
    border-bottom: 1px solid #dedede;
}

.item .icon {
    color: #C0C0C0;
}