<ion-header>
    <ion-toolbar>
        <ion-title>Home
            <ion-icon slot="start" name="home"> </ion-icon>
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-item>
            <ion-icon name="school" slot="start"></ion-icon>
            <ion-label color="primary">ĐỒ ÁN TỐT NGHIỆP</ion-label>
        </ion-item>
        <ion-card-content>

            <div class="ion-text-center">
                <h4>CỌC BÊ TÔNG LY TÂM ỨNG LỰC TRƯỚC</h4>
                <style>
                    h4 {
                        margin-top: auto;
                        color: gold;
                        font-family: AvenirNext-MediumItalic;
                        font-size: 70%;
                    }
                </style>
            </div>
            <div class="ion-text-start">
                <p>SVTH : Đinh Ngọc Sơn
                    <br>MSSV : 539358
                    <br>GVHD : ThS Phan Thái Trung</p>
                <style>
                    p {
                        margin-left: 10%;
                        margin-top: auto;
                        color: gold;
                        font-family: Avenir-Light;
                        font-size: 100%;
                    }
                </style>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-thumbnail slot=start>
        <ion-img>
            src="../soure/pic01.jpg"</ion-img>
    </ion-thumbnail>
</ion-content>